<div class="modal">
    <div class="modal-backdrop" (click)="closeModal()"></div>
    <div class="modal-content">
      <div class="modal-header">
        <h3>Editar Filme</h3>
        <span style="padding: 10px;cursor: pointer;" (click)="closeModal()"
          >X</span
        >
      </div>
      <div class="modal-body content">
        <div class="inputField">
          <div class="label"><label>Título</label></div>
          <div>
            <input id="addMovieName" type="text" value="{{ movie?.name }}" />
          </div>
        </div>
        <div class="inputField">
            <div class="label"><label>Gênero</label></div>
            <div>
              <select
                id="addMovieGenre"
                type="text"
              >
                  <option 
                          *ngFor="let category of categories"
                          value={{category?.id}}
                          [attr.selected]="movie.category.id==category.id ? true : null"
                  >
                      {{category?.name}}
                  </option>
              </select>
            </div>
          </div>
        
        <div class="inputField">
          <div class="label"><label>Data de Lançamento</label></div>
          <div>
            <input id="addMovieYear" type="date" value="{{ edited_date(movie?.year_release)}}" />
          </div>
        </div>


        <div class="inputField">
          <div class="label"><label>Sinopse</label></div>
          <div>
            <textarea
              id="addMovieSynopsis"
              type="text"
              value="{{ movie?.synopsis }}"
            ></textarea>
          </div>
        </div>
        
        
        <div class="inputField">
            <div class="label"><label>Imagem Adicionada</label></div>
              <div>
                <input id="addMovieImageUrl" class="file-input" type="file" accept="image/png, image/gif, image/jpeg, image/jpg" (change)="onFileSelected($event)" #fileUpload/>
                <div class="file-upload">

                  {{ file.name ||  movie?.poster || "Nenhum arquivo selecionado."}}
              
                  <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUpload.click()">
                      <mat-icon>attach_file</mat-icon>
                  </button>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button (click)="closeModal()">Cancelar</button>
        <button
          [disabled]="disable"
          class="btn"
          (click)="editNewMovie($event)"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>