.label {
    padding: 4px 0;
    font-size: small;
    color: rgb(51, 55, 64);
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.inputField {
    margin: 3px 7px;
    flex: 1 40%;
}

.file-input {
  display: none;
}