<app-header></app-header>
<div class="movielist-cnt">
    <div class="movielist-breadcrumb">
      <div>
        <h2>Catálogo de Filmes</h2>
      </div>
      <div>
        <button
          class="btn"
          style="padding-left: 15px;padding-right: 15px;font-weight: 500;"
          (click)="showAddMovieDialog()"
        >
         Adicionar Filme
        </button>
      </div>
    </div>
    <div class="movielist">
      <app-moviecard
        *ngFor="let movie of movies"
        [movie]="movie"
      ></app-moviecard>
    </div>
    <ng-container #vc></ng-container>
    <ng-template #modal>
      <app-addmovie
        (closeDialog)="closeDialog()"
        (refreshMovies)="fetchMovies()"
      ></app-addmovie>
    </ng-template>
  </div>